# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# conda
.conda/


# C extensions
*.so

# Distribution / packaging
.DS_Store
.ipynb_checkpoints/

# logs
logs/
# results folder
/results

# data folder
/data

# env folder
/env

# ignore scratch
scratch.py
scratch.ipynb
scratch.sh




